/* My scratch CSS file */


/* Site Main */




/* Header Section */
/* Site Branding */
.site-branding {
	display: inline-block;
	float: left;
	margin: 0 0;
}
/* Site Title */
.site-title {
	margin: 0;
}

.site-title a {
	color: #fff;
	padding: 0;
	text-decoration: none;
}
/* Site Description */
.site-description {
	color: #fff;
	display: inline-block;
	float: left;
	margin: 0;
}

/* Navigation Menu */
.main-navigation {
	background: #333;

}

.main-navigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.main-navigation li {
	float: right;
}

.main-navigation li a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
/* Add mouse hover color */
.main-navigation li a:hover {
	background-color: #111;
}
/* Hides secondary navigation dropdown menus */
.main-navigation ul ul {
	background: #fe7050;
	color: #fff;
	display: none;
	z-index: 1;
}
/* Shows dropdwon lists when hovering or clicking */
.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	display: block;
	top: 3.2em;
}

/* Screen Reader */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position:absolute !important;
}
.screen-reader-text:focus {
	background-color: #f1f1f1;
	clip: auto !important;
	display: block;
	height: auto;
	width: auto;
	left: 5px;
	right: 5px;
	z-index: 100000; /* Above WP toolbar */
}

/* Body */
body {
	margin: 0; /* gets rid of small white border issue around the page */
}
