/* My scratch CSS file */

/*clearings*/
.clear:before,
.clear:after,
[class*="content"]:before,
[class*="content"]:after,
[class*="site"]:before,
[class*="site"]:after {
	content: '';
	display: table;
}

.clear:after,
[class*="content"]:after,
[class*="site"]:after {
	clear: both;
}

/* Site Main */




/* Header Section */
.site-header {
	background-color: #555;
	display: block;
	clear: both;
	margin: 0;
	max-width: 100%;
	box-shadow: 0px 1px 3px grey;
}
.site-header-wrapper {
	margin: 0 auto;
}
/* Site Branding */
.site-branding {
	display: inline-block;
	float: left;
	margin: 0 0;
}
/* Site Title */
.site-title {
	margin: 0;
	font-size: 1.5rem;
	padding-top: 5px;
	padding-left: 15px;
}

.site-title a {
	color: #fff;
	font-family: sans-serif, Arial;
	padding: 0;
	text-decoration: none;
}
/* Site Description */
.site-description {
	color: #fff;
	font-family: sans-serif, Arial;
	display: inline-block;
	font-size: 1.0rem;
	font-style: italic;
	float: left;
	margin: 0;
	padding-left: 20px;
}

.menu-toggle {
	display: none;
 }

/* Navigation Menu */

.main-navigation {
	font-size: 17px;

}

.main-navigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: sans-serif;
}

.main-navigation li {
	float: right;
}

.main-navigation a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	line-height: 28px;
}
/* Add mouse hover color */

.main-navigation a:hover {
	background-color: #6699ff;
}
/* Hides secondary navigation dropdown menus */

.main-navigation ul ul {
	background: #ff0066;
	color: #fff;
	display: none;
	position: absolute; /* Allows separate dropdown function */
	z-index: 1;
}

.main-navigation ul ul a {
	padding: .6em 10px;
	width: 160px;
}

/* Shows dropdwon lists when hovering or clicking */
.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	display: block;
}


/* Screen Reader */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position:absolute !important;
}
.screen-reader-text:focus {
	background-color: #f1f1f1;
	clip: auto !important;
	display: block;
	height: auto;
	width: auto;
	left: 5px;
	right: 5px;
	z-index: 100000; /* Above WP toolbar */
}

/* Body */
body {
	margin: 0; /* gets rid of small white border issue around the page */
}

button {
	display: none; /* Hides Primary Menu Button in header */
}
